<section class="about container">
<h1 class="text-center mt-5">About us</h1>
<div class="text mt-5">
    <p>Hello my name is Arrun Choi. I am currently studying at Glasgow Caledonian University as a third year undergraduate.</p>
    <p>My goal is to create more websites to enhance my current skills and learn new skills on the way. Improving my websites till they are at a professional level.</p>
</div>
<br>
<br>
<br>
<br>
<div class="follow text-center">
    <h4>Follow Us</h4>
    <a href="#">Facebook</a>
    <a href="#">Twitter</a>
    <a href="#">Instagram</a>
    <a href="#">Youtube</a>
</div>
</section>
