<section class="about container">
<h1 class="text-center mt-5">About us</h1>
<div class="text mt-5">
    <p>Hello my name is Arrun Choi. I am currently studying at Glasgow Caledonian University as a third year computing science undergraduate.</p>
    <p>I have a passion of creating websites during my spare time hoping to enhance my current skills and learning new skills on the way. Learning and improving until I can one day create websites that is of professional level.
   I am eager on searching up new ways to enhance my websites and future projects. 
    </p>
</div>
<br>
<br>
<br>
<br>
<div class="follow text-center">
    <h4>Follow Us</h4>
    <a href="#">Facebook</a>
    <a href="#">Twitter</a>
    <a href="#">Instagram</a>
    <a href="#">Youtube</a>
</div>
</section>
